@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body{
  margin: 0 0 0 0;
  background: url("../img/Group.svg") no-repeat 1631px 895px,
  url("../img/Group (1).svg") no-repeat left 678px,
  url("../img/Group (2).svg") no-repeat  439px 642px,
  url("../img/Group (3).svg") no-repeat 416px 793.51px ,
  url("../img/Group (4).svg") no-repeat 1356.65px 811.28px,
  url("../img/Group (5).svg") no-repeat 958px 111px,
  url("../img/Group (6).svg") no-repeat 495.95px 0,
  url("../img/Group (7).svg") no-repeat 385.22px 462.45px,
  url("../img/Brusko logo.png") no-repeat 26px 26px,
  linear-gradient(287.56deg, #0F0C29 0%, #302B63 50%, #24243E 100%);
  
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  color: #FFFFFF;
}
label{
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
}
h1{
  text-align: center;
  margin-top: 35px;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 38px;
  line-height: 52px;
}
h2{
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  margin-bottom: 25px;
}
.glass_form{
  position: absolute;
  left: calc(50% - 690px/2);
  width: 690px !important;
  height: 789px !important;
  margin: auto;
  margin-top: 15px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(25px);
  border-radius: 40px;
  border: 3px solid #BCBEC0;
}
form{
  margin: 28px 95px 32px 95px;
  input{
    outline:none;
    width: 500px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #BCBEC0;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 16px 23px 15px 23px;
  }
}
.form_input{
  margin-bottom: 26px;
  label{
    margin-bottom: 3px;
  }
  &:first-child{
    margin-bottom: 43px;
    input{
      background: url("data:image/svg+xml,%3Csvg width='25' height='17' viewBox='0 0 25 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 5.85938H25V11.3281H0V5.85938Z' fill='%231B75BB'/%3E%3Cpath d='M21.0938 0H3.90625C1.31758 0 0 1.92383 0 4.29688V5.85938H25V4.29688C25 1.92383 23.6824 0 21.0938 0Z' fill='%23E6E7E8'/%3E%3Cpath d='M0 12.8906C0 15.2637 1.31758 17.1875 3.90625 17.1875H21.0938C23.6824 17.1875 25 15.2637 25 12.8906V11.3281H0V12.8906Z' fill='%23EC1C24'/%3E%3C/svg%3E%0A") no-repeat 12px #FFFFFF;
      padding-left: 46px;
    }
  }
}
.password_input{
  position: relative;
  margin-bottom: 24px !important;
}
.password-control {
	position: absolute;
	top: 44px;
	right: 19px;
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.1956 9.06667C11.3232 8.72558 11.3879 8.36418 11.3867 8C11.3867 7.19138 11.0654 6.41589 10.4937 5.84411C9.92188 5.27233 9.14639 4.95111 8.33777 4.95111C7.97808 4.95153 7.62135 5.01625 7.28444 5.14222L7.99999 5.88C8.10877 5.8626 8.21873 5.85368 8.32888 5.85333C8.90063 5.85214 9.44963 6.07722 9.85599 6.47942C10.2624 6.88162 10.4931 7.42827 10.4978 8C10.4974 8.11015 10.4885 8.22011 10.4711 8.32889L11.1956 9.06667Z' fill='%23C7D2D6'/%3E%3Cpath d='M15.24 7.79111C13.7422 5.02222 11.1156 3.34667 8.20889 3.34667C7.41749 3.34853 6.63141 3.47604 5.88 3.72445L6.59556 4.44445C7.12261 4.30824 7.66454 4.23807 8.20889 4.23556C10.7111 4.23556 12.9867 5.63111 14.3422 7.98222C13.845 8.85449 13.1858 9.62382 12.4 10.2489L13.0311 10.88C13.9405 10.1464 14.6957 9.24009 15.2533 8.21334L15.3689 8L15.24 7.79111Z' fill='%23C7D2D6'/%3E%3Cpath d='M2.16445 2.56889L4.14667 4.55111C2.89375 5.35783 1.86974 6.47367 1.17334 7.79111L1.05779 8L1.17334 8.21333C2.67112 10.9822 5.29778 12.6578 8.20445 12.6578C9.33896 12.6575 10.4587 12.4008 11.48 11.9067L13.7022 14.1289L14.48 13.4622L2.92445 1.90667L2.16445 2.56889ZM6.49778 6.90222L9.45334 9.85778C9.11939 10.0645 8.73496 10.1752 8.34223 10.1778C8.05686 10.1778 7.77431 10.1214 7.51084 10.0118C7.24736 9.90215 7.00816 9.74152 6.807 9.53912C6.60584 9.33672 6.44669 9.09653 6.3387 8.83239C6.23071 8.56825 6.17603 8.28536 6.17778 8C6.18279 7.6118 6.29342 7.2323 6.49778 6.90222ZM5.85334 6.25778C5.43753 6.84418 5.24264 7.5588 5.30317 8.2751C5.3637 8.99141 5.67574 9.6632 6.18405 10.1715C6.69237 10.6798 7.36415 10.9919 8.08046 11.0524C8.79676 11.1129 9.51138 10.918 10.0978 10.5022L10.8089 11.2133C9.98569 11.5652 9.09971 11.7466 8.20445 11.7467C5.70223 11.7467 3.42667 10.3511 2.07112 8C2.72165 6.8481 3.65855 5.88364 4.79112 5.2L5.85334 6.25778Z' fill='%23C7D2D6'/%3E%3C/svg%3E%0A") 0 0 no-repeat;
}
.form_select{
  margin-bottom: 30px;
  select{
    outline:none;
    overflow: hidden !important;
    width: 165px;
    height: 50px;
    background: rgba(255, 255, 255, 0.24);
    border: 1px solid #BCBEC0;
    box-sizing: border-box;
    backdrop-filter: blur(4px);
    border-radius: 10px;
    background: url("data:image/svg+xml,%3Csvg width='7' height='4' viewBox='0 0 7 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.13147 0.295013L3.60504 2.58501L1.07861 0.295013L0.302521 1.00001L3.60504 4.00001L6.90756 1.00001L6.13147 0.295013Z' fill='white'/%3E%3C/svg%3E%0A") no-repeat 140px;
    margin: 0;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    option{
      color: black;
    }
   }
}
.btn{
  margin-top: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  align-items: center;
  color: #FFFFFF;
  width: 500px;
  height: 50px;
  background: #BD0C47;
  border-radius: 10px;
  &:hover{
    background: #910c38;
    color: #FFFFFF;
  }
}

.social_registration{
  .social_link{
    display: flex;
    align-items: center;
    width: 150px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #BCBEC0;
    box-sizing: border-box;
    border-radius: 10px;
    svg{
      margin: auto;
    }
    &:hover{
      background: #e5e4e4;
    }
  }
}
.password_recovery{
  margin-top: 32px;
  margin-bottom: 42px;
  p{
    margin: 0;
    font-size: 13px;
    line-height: 18px;
  }
  a{
    margin: 0;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    &:hover{
      text-decoration: underline;
    }
  }
}
.back_images{
  position: relative;

}
.bg-1{
  position: absolute;
  width: 207px;
  height: 87px;
  background: url("../img/Group (4).svg") no-repeat;
  top: 744px;
  left: 1273px;
}
.bg-2{
  position: absolute;
  width: 245px;
  height: 133px;
  background: url("../img/Group (7).svg") no-repeat;
  background-size: 245px 133px;
  top: 305.1px;
  left: 419.37px;
}
